body {
  min-width: 375px;
  margin: 0;
}
#nav-pc{
   display: none;
}

#menu-sp{
float: right;
padding	:0;
display: block;
}

#nav-sp{
  background-color:	#ce933e;
  position:absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width:100%
}

#nav-sp{
  display: none;
  z-index:100; 
}

#nav-sp ul{
  padding-left:0
}

#nav-sp li{
  list-style:none
}

#close{
  position:	absolute;
  top:20px;
  right:20px;
}

#logo-sp{
  margin:80px 0px 30px 20px;
}

#nav-sp a {
  display: block;
  color: #ffffff;
  text-decoration: none;
}


.menu:hover{
   text-decoration:underline;
}


.menu{
  height:44px;
  font-size:16px;
  background-image:url("images/arrow.png");
  background-repeat: no-repeat;
  background-position:right top;
  margin-left: 20px;
  margin-right: 20px;
}

#main-visual img {
  max-width: 100%;
  height: auto;
}

/* 画面幅が767px以下のとき */
@media screen and (min-width: 767px) {
  #menu-sp {
    display: none;
}
  #nav-pc {
    display: block;
}

.menu {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}
}