body {
  min-width: 375px;
  margin: 0;
}
#nav-pc{
   display: none;
}

#menu-sp{
float: right;
padding	:0;
}

#nav-sp{
  background-color:	#ce933e;
  position:absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width:100%;
  display: none;
  z-index: 100;
}

#nav-sp ul{
  padding-left:0
}

#nav-sp li{
  list-style:none
}

#close{
  position:	absolute;
  top:20px;
  right:20px;
}

#logo-sp{
  margin:80px 0px 30px 20px;
}

#nav-sp a{
   display:block;
}

#nav-spa:link{
  color:#ffffff;
}

#nav-spa{
  color:#ffffff
}

#nav-spa:hover{
   color:#ffffff;
   text-decoration:underline;
}

#nav-spa:active{
  color:#ffffff;
}

#nav-sp.menu{
  text-decoration:none;
  display: none;
  height:44px;
  font-size:16px;
  background-image:url("images/arrow.png");
  background-repeat: no-repeat;
  background-position:right top;
  margin{
    left:20px;
    right: 20px;
  }
}
 #menu-sp{
    display: none;
  }

  #nav-sp{
     display: none;
  }

